{{#if allClients}}
<ul>
  {{#each allClients}}
  <li>
    <p>{{this.surname}}</p>
    <p>{{this.name}}</p>
    <p>{{this.patronymic}}</p>
    <p>{{this.email}}</p>
    <p>{{this.phone}}</p>
    <p>{{this.address}}</p>
    <hr>
  </li>
  {{/each}}
</ul>
{{/if}}
