{{#if allClients}}

<ul class="clientsContainer">
  {{#each allClients}}
  <li data-id="{{this._id}}" class="clientContainer">
    <div class="left">
      <p>Фамилия: {{this.surname}}</p>
      <p>Имя: {{this.name}}</p>
      <p>Отчество: {{this.patronymic}}</p>
      <p>Email: {{this.email}}</p>
      <p>Телефон: {{this.phone}}</p>
      <p>Адрес: {{this.address}}</p>
      <p>Добавил клиента: {{this.creator.name}}</p>
      <p>Заказы: {{#each this.orders}}<a class="orderOfClient" href="/orders/{{this._id}}/details">{{this.number}}</a> {{/each}}</p>
      <p><b>Комментарии:</b></p>
      {{#if this.comments}}
      <div class="comments">
        {{#each this.comments}}
        <p>{{this.body}}</p>
        <div style="font-size: 12px;">Дата комментария: {{this.date}}</div>
        <div style="font-size: 12px;">Автор комментария: {{this.user}}</div>
        <hr>
        {{/each}}
      </div>
      {{/if}}
    </div>
    <div class="right">
      <form class="leavecomment" id="leavecomment" method="POST">
        <textarea placeholder="Оставьте комментарий о клиенте" name="body" cols="40" rows="3"></textarea>
        <button type="submit" class="btn-comment btn btn-primary">оставить комментарий</button>
      </form>
      <div class="actionButtons">
        <a href="/clients/{{this._id}}" class="btn btn-primary">редактировать данные клиента</a>
        <a href="/orders/new/{{this._id}}" class="btn btn-primary">создать заказ</a>
        <button data-button='deleteClient' type="submit" class="btn btn-primary">удалить клиента</button>
      </div>
    </div>
  </li>
  <hr>
  {{/each}}
</ul>

{{/if}}
