{{#if allClients}}

<ul class="clientsContainer">
  {{#each allClients}}
  <li data-id="{{this._id}}" class="clientContainer">
    <div class="left">
      <p>Фамилия: {{this.surname}}</p>
      <p>Имя: {{this.name}}</p>
      <p>Отчество: {{this.patronymic}}</p>
      <p>Email: {{this.email}}</p>
      <p>Телефон: {{this.phone}}</p>
      <p>Адрес: {{this.address}}</p>
      <p>Добавил клиента: {{this.creator.name}}</p>
      <p>Заказы: </p>
      <p><b>Комментарии:</b></p>
      <div class="comments">
        {{#each this.comments}}
        <p>{{this.body}}</p>
        <p>Дата комментария: {{this.date}}</p>
        <p>Автор комментария: {{this.user}}</p>
        <hr>
        {{/each}}
      </div>
    </div>
    <div class="right">
      <form class="leavecomment" id="leavecomment" method="POST">
        <textarea placeholder="Оставьте комментарий о клиенте" name="body" cols="40" rows="3"></textarea>
        <button type="submit" class="btn-comment btn btn-primary">оставить комментарий</button>
      </form>
      <div class="actionButtons">
        <a href="/orders/new/{{this._id}}" class="btn btn-primary">создать заказ</a>
              {{ helperCheckAndAdd this.creator._id ../id this._id }}
      </div>
    </div>
  </li>
  <hr>
  {{/each}}
</ul>

{{/if}}
