<div id="ordersWindow">
<table class="ordersTable">
  <thead class="thead-dark">
    <tr class="forNet">
      <th scope="col"  class='vertLines' style='border-right: 2px solid rgb(244, 197, 141); border-bottom: 2px solid rgb(244, 197, 141); '>Номер заказа</th>
      <th scope="col"  class='vertLines' style='border-right: 2px solid rgb(244, 197, 141); border-bottom: 2px solid rgb(244, 197, 141); '>Тип мебели</th>
      <th scope="col"  class='vertLines' style='border-right: 2px solid rgb(244, 197, 141); border-bottom: 2px solid rgb(244, 197, 141); '>Клиент</th>
      <th scope="col"  class='vertLines' style='border-bottom: 2px solid rgb(244, 197, 141); '>Дата доставки</th>
    </tr>
  </thead>
  <tbody id='tbody'>
    {{#if allOrders}}
    {{#each allOrders}}
<tr class="forNet">
<td class='vertLines' style='border-right: 2px solid rgb(244, 197, 141); border-bottom: 2px solid rgb(244, 197, 141); '>{{this.number}}</td>
<td class='vertLines' style='border-right: 2px solid rgb(244, 197, 141); border-bottom: 2px solid rgb(244, 197, 141); '>{{this.typeFurn}}</td>
<td class='vertLines' style='border-right: 2px solid rgb(244, 197, 141); border-bottom: 2px solid rgb(244, 197, 141); '>{{this.client.name}} {{this.client.surname}} {{this.client.patronymic}}</td>
<td class='vertLines' style='border-bottom: 2px solid rgb(244, 197, 141);'>{{this.deliveryDate}}</td>
</tr>
{{/each}}
  </tbody>
</table>
{{/if}}
</div>

<style>
  body{
    background-color: #efede9;
    background-image: none;
  }
</style>
